
/* ***Responsive media query*** */

/* More Extra large devices (large desktops, 1200px and up) */
@media (min-width:1500px){ 
  /* Header TOp */
  .header-top-right ul.top-right-option li {
    margin: 0px 14px;
  }
  .header-top-right ul.top-right-option li:first-child {
    margin-left: 30px;
  }
  /* Card Column Style */
  .sidebar-col{
    flex: 0 0 16%;
    max-width: 16%;
  }
  .card-column {
    flex: 0 0 84%;
    max-width: 84%;
  }
  .card-column .card {
    margin: 0 10px;
    margin-bottom: 30px; 
   }
   .card-area-title .title {
    margin: 0 15px;
    }
   .card-area-title .nice-select {
      margin-right: 15px;
    }
    .d-nonePRIVILAGES {
      display: none !important;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
  /* Header TOp */
  .header-top-right  ul.top-right-option li {
    margin: 0px 14px;
  }
  .header-top-right > ul.top-right-option > li:first-child {
    margin-left: 30px;
  }
  /* Card Column Style */
  .sidebar-col{
    flex: 0 0 20%;
    max-width: 20%;
  }
  .card-column {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .card-column .card {
    margin: 0 10px;
    margin-bottom: 30px; 
   }
   .card-area-title .title {
    margin: 0 15px;
    }
   .card-area-title .nice-select {
      margin-right: 15px;
    }
    .d-nonePRIVILAGES {
      display: none !important;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  /* Header Top */
  .header-top-left a.link {
    padding: 5px 5px;
  }
  .header-top-right ul.top-right-option li button.sign-in {
    padding: 6px 10px;
  }
  .header-top-menu ul li {
    margin: 0 5px;
  }
  /* Card Slider Style */
  .single-card-slide .slider-title h4 {
    font-size: 15px;
  }
  .single-card-slide .slider-title a.category {
    font-size: 14px;
  }
  /* Card Column Style */
  .sidebar-col{
    flex: 0 0 23%;
    max-width: 23%;
  }
  .card-column {
    flex: 0 0 77%;
    max-width: 77%;
  }
  .card-column .card {
    margin: 0 10px;
    margin-bottom: 30px; 
   }
   .card-area-title .title {
    margin: 0 15px;
    }
   .card-area-title .nice-select {
      margin-right: 15px;
    }
    .d-nonePRIVILAGES {
      display: none !important;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .header-top-right {
    position: absolute;
    right: 30px;
    top: 7px;
  }
  .header-top-menu ul li:first-child {
    margin-left: 10px;
  }

  /* Card Column Style */
  .sidebar-col{
    flex: 0 0 28%;
    max-width: 28%;
  }
  .card-column {
    flex: 0 0 72%;
    max-width: 72%;
  }
  .card-column .card {
    margin: 0 10px;
    margin-bottom: 30px; 
   }
   .card-area-title .title {
    margin: 0 15px;
    }
   .card-area-title .nice-select {
      margin-right: 15px;
    }
    .d-nonePRIVILAGES {
      display: none !important;
    }
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
  aside.sidebar-wrap.sticky-top{
    position: relative !important;
    top: 0 !important;
  }
  /* header */
  .header-top-left a.logo img {
    max-width: 120px;
    height: auto;
  }
  .header-top-right {
    position: absolute;
    right: 30px;
    top: 5px;
  }
  .navbar-brand {
    margin-right: 5px;
  }
  .header-top-menu ul li:first-child {
    margin-left: 10px;
  }
  .header-top-right {
    margin-left: 10px;
  }
  .header-top-right ul.top-right-option li ul.dropdown-menu {
    top: 35px;
    left: -400%;
    padding-left: 7px;
  }
  /* Mobile Menu Style */
  .mean-container a.meanmenu-reveal {
    top: -24px;
    left: 15px !important;
    right: auto !important;
  }
  .mean-container .mean-nav {
    width: 95%;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #fff;
  }
  .mean-container .mean-nav ul li a {
    color: rgb(0,0,0,0.8);
    border-top: 1px solid rgb(0,0,0,0.8);
  }
  .mean-container .mean-nav ul li:first-child a {
    border-top: none;
  }
  .mean-container .mean-nav ul li a:hover {
    color: rgb(0,0,0,1);
  }
  .header-top-left.navbar-brand a.dropdown-toggle {
    display: none;
  }
  .header-top-menu ul li a.dropdown-toggle {
    position: relative;
  }
  .header-top-menu ul li a.dropdown-toggle::after {
    display: none;
  }
  .header-top-menu ul li a.dropdown-toggle::before {
    position: absolute;
    content: ">";
    font-size: 16px;
    color: #000;
    right: 0;
    top: 10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  .header-top-menu ul li.show a.dropdown-toggle::before {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  .header-top-menu ul li .dropdown-menu {
    background-color: #ebf0f5;
    border: none;
  }
    
  /* Card Slider */
  .card-slider-wrap {
    background-image: url('../img/slider-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px 34px;
  }

  .card-slider button.slick-arrow.slick-next {
    right: -22px;
  }
  .card-slider button.slick-arrow {
    left: -22px;
  }
  .recommended-card-title h4 {
    line-height: 24px;
    font-size: 16px;
  }
  .recommended-card-title p {
    font-size: 14px;
    line-height: 24px;
  }
  .single-card-slide .slider-title h4 {
    line-height: 22px;
    font-size: 16px;
  }
  .single-card-slide .slider-title a.category {
    font-size: 14px;
  }
  /* Sidebar Style */
  .content-section-wrap {
    padding-top: 70px;
  }
  .sidebar-wrap {
    margin-bottom: 50px;
  }
  .sidebar-check-form .title h4 {
    display: inline-block;
  }
  /* Card Area */
  .nice-select {
    padding-left: 10px;
    padding-right: 23px;
  }
  .card-area-title .title h4 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .card-area-title {
    align-items: center;
  }
  .card-area-wrap .img-fluid {
    width: 100%;
  }
  .card-column .card {
    margin: 0 10px;
    margin-bottom: 30px; 
   }
   .card-area-title .title {
    margin: 0 15px;
    }
    .card-body a h4 {
      font-size: 14px;
    }
    .content-section-wrap {
      padding-top: 15px;
    }
    .recommended-card-title {
      padding-bottom: 25px;
    }


  /* Sidebar Style */
  
  aside.sidebar-wrap {
    padding-top: 15px;
    position: fixed;
    top: 0;
    background-color: #f8f9fa;
    width: 60%;
    display: none;
    left: 0;
    z-index: 9999;
    padding-left: 15px;
    height: 100vh;
    overflow-y: scroll;
    padding-top: 70px;
  }
  ul.sidebar-link {
    margin-top: 20px;
  }
  .showSidebar i {
    margin-right: 10px;
  }
  .showSidebar {
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-transform: capitalize;
    color: #333333;
  }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .header-top-left.navbar-brand a.dropdown-toggle {
    display: inline-block;
  }
  aside.sidebar-wrap.sticky-top {
    position: fixed !important;
    top: 0 !important;
  }
}